ol, dl,ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 单行文本溢出 */
.OneLineOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 多行文本溢出 */
.LineOver {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // 行数
  overflow: hidden;
  word-wrap: break-word;
}

p, div, ul, li {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    height: 15px;
    background-color: #e9e9e9;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: #c3c3c3;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.tablePage {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ivu-page-options-sizer {
    margin-right: 0 !important;
  }
}

/* modal 垂直居中 */
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;
  }
}

/* 表格每一列之间的间距 */
.ivu-table-cell {
  padding: 0 8px;
}

.ivu-menu {
  display: flex;

  &::after {
    height: 0 !important;
  }
}

/* 折叠面板 */
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;

  .ivu-icon {
    line-height: unset;
    font-size: 20px;

    &:before {
      content: "\F118"
    }
  }
}

.ivu-collapse>.ivu-collapse-item.ivu-collapse-item-active>.ivu-collapse-header>i {
  transform: rotate(180deg);
}

.ivu-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ivu-steps-item {
    display: flex;
    align-items: center;

    .ivu-steps-main {
      margin-top: 0;
    }

    .ivu-steps-title {
      margin-bottom: 0;
    }
  }
}


/*  iview输入框里的图标 */
.ivu-input-suffix {
  .ivu-icon {
    cursor: pointer;
  }
}